langgraph
langchain
langchain-core
langchain-community
sentence-transformers
faiss-cpu
rank_bm25
pdfplumber
requests
beautifulsoup4
google-auth
google-auth-oauthlib
google-api-python-client
python-dotenv
transformers
bitsandbytes
accelerate
torch